*{
	padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: 0;
}
body{
	background: #d8d6d8 url(../img/body-bg.png);
}
input{
	outline: none;
}
h2{
	font-weight:normal !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
